 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-text-1 {
  margin: 200px 272px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 252px;
  min-height: 64px;
  margin: 84px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 188px 0 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 94px 0;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -58px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 151px;
  margin: 30px 570px 70px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -86px;
    margin-right: 312px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 58px;
    margin-right: 150px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 165px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -102px;
    margin-right: 270px;
  }

  .u-section-1 .u-image-1 {
    width: 368px;
    height: 120px;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 244px;
    height: auto;
    margin-top: 166px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -186px;
    margin-right: 70px;
  }

  .u-section-1 .u-image-1 {
    width: 248px;
    height: 67px;
    margin-top: 104px;
    margin-bottom: 43px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-2 .u-image-1 {
  width: 345px;
  height: 79px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0;
}

.u-section-2 .u-text-1 {
  width: 811px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 541px;
  margin: 21px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 21px auto 19px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 78px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.875rem;
    margin-bottom: 60px;
  }
}