 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1416px;
}

.u-section-1 .u-text-1 {
  font-size: 10.625rem;
  line-height: 1;
  background-position: 50% 0vh;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg);
  margin: 156px 203px 0 0;
}

.u-section-1 .u-image-1 {
  width: 116px;
  height: 116px;
  margin: -201px 0 0 auto;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 115px 372px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 403px 0 0;
}

.u-section-1 .u-image-2 {
  width: 799px;
  height: 649px;
  margin: -31px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 165px;
  margin: -733px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 201px;
  height: 203px;
  margin: 53px auto 0 -101px;
}

.u-section-1 .u-image-5 {
  width: 158px;
  height: 160px;
  margin: 240px auto 0 167px;
}

.u-section-1 .u-image-6 {
  width: 351px;
  height: 272px;
  margin: -690px auto 60px 154px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    width: auto;
    margin-top: 200px;
    margin-right: 3px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -153px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 75px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 203px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    width: 668px;
    height: 602px;
    margin-top: 16px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -764px;
    margin-right: -36px;
  }

  .u-section-1 .u-image-4 {
    width: 164px;
    height: 161px;
    margin-top: 270px;
    margin-left: -16px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-6 {
    width: 315px;
    height: 245px;
    margin-top: -572px;
    margin-left: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 184px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -203px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 589px;
    height: 570px;
    margin-top: 48px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -668px;
    margin-right: -13px;
  }

  .u-section-1 .u-image-4 {
    width: 161px;
    height: 162px;
    margin-top: 280px;
    margin-left: -30px;
  }

  .u-section-1 .u-image-5 {
    width: 117px;
    height: 118px;
    margin-top: 38px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-6 {
    width: 264px;
    height: 205px;
    margin-top: -582px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 203px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -122px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-2 {
    width: 451px;
    height: 482px;
    margin-top: 29px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-3 {
    width: 121px;
    height: 144px;
    margin-top: -584px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 129px;
    height: 129px;
    margin-top: 226px;
  }

  .u-section-1 .u-image-5 {
    width: 89px;
    height: 89px;
    margin-top: 11px;
    margin-left: 127px;
  }

  .u-section-1 .u-image-6 {
    width: 206px;
    height: 160px;
    margin-top: -430px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 90px;
    height: 91px;
    margin-top: -172px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 97px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
    width: 284px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 82px;
    height: 62px;
    margin-top: -341px;
  }

  .u-section-1 .u-image-4 {
    width: 78px;
    height: 59px;
    margin-top: 225px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-5 {
    width: 77px;
    height: 77px;
    margin-top: -9px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-6 {
    width: 108px;
    height: 88px;
    margin-top: -312px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 766px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: -1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 766px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 123px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 161px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 41px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 766px;
  background-image: url("images/45.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 1px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 485px;
  height: 508px;
  margin: 20px 20px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 324px;
  height: 397px;
  object-position: 97.22% 50%;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(327.83deg);
}

.u-section-2 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 134px;
  height: 137px;
  margin: -116px auto 0 188px;
}

.u-section-2 .u-image-3 {
  width: 105px;
  height: 110px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(17.45deg);
}

.u-section-2 .u-image-4 {
  width: 176px;
  height: 148px;
  margin: 0 auto 0 69px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 717px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 632px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 514px;
    height: 538px;
  }

  .u-section-2 .u-image-2 {
    width: 343px;
  }

  .u-section-2 .u-image-3 {
    width: 107px;
    height: 111px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 36px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 484px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 393px;
    height: 411px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 262px;
    height: 322px;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-top: -125px;
  }

  .u-section-2 .u-image-3 {
    width: 108px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1326px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 660px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 589px;
    height: 613px;
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 398px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1089px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 35px;
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 403px;
    height: 418px;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 273px;
    height: 277px;
  }

  .u-section-2 .u-image-3 {
    width: 62px;
  }
}