 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-group-1 {
  min-height: 340px;
  background-image: none;
  height: auto;
  width: 694px;
  margin: 256px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px 30px;
}

.u-section-1 .u-image-1 {
  object-position: 0% 47.63%;
  width: 248px;
  height: 248px;
  background-image: url("images/4545.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -118px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-style: italic;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 770px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 770px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 123px;
}

.u-section-2 .u-group-1 {
  width: 225px;
  height: 225px;
  margin: 44px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 119px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 70px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 15px 137px 0 0;
}

.u-section-2 .u-image-1 {
  width: 91px;
  height: 86px;
  margin: 30px 450px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 770px;
  background-image: url("images/pizza-white-wooden-table_144627-296172.jpeg");
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 205px;
  height: 199px;
  margin: 163px auto 0 44px;
}

.u-section-2 .u-image-3 {
  width: 157px;
  height: 132px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(324.5deg);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 713px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 635px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 226px;
  }

  .u-section-2 .u-image-2 {
    min-height: 635px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 145px;
    height: 141px;
    margin-top: 146px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 111px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 209px;
  }

  .u-section-2 .u-image-2 {
    min-height: 486px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 907px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 48px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 729px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 235px;
    height: 229px;
    margin-top: 22px;
    margin-left: 77px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 637px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 459px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 190px;
    height: 184px;
    margin-top: 20px;
    margin-left: 33px;
  }

  .u-section-2 .u-image-3 {
    width: 145px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1633px;
}

.u-section-3 .u-image-1 {
  width: 235px;
  height: 47px;
  margin: 70px auto 0;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 446px;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 634px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-image-2 {
  width: 325px;
  height: 341px;
  margin: 35px auto 0;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -350px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-3 .u-text-4 {
  margin: 257px 55px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-3 .u-image-4 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-3 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -58px 0 0 auto;
}

.u-section-3 .u-image-5 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-3 .u-text-6 {
  margin: -24px 67px 0 12px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 634px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-3 .u-image-6 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-3 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -350px 0 0 auto;
}

.u-section-3 .u-image-7 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-3 .u-text-8 {
  margin: 257px 55px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 669px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  margin: 67px auto 0;
}

.u-section-3 .u-image-8 {
  width: 325px;
  height: 341px;
  object-position: 91.97% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -350px 0 0 auto;
}

.u-section-3 .u-image-9 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-3 .u-text-10 {
  margin: 257px 55px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 669px;
}

.u-section-3 .u-container-layout-5 {
  padding: 16px 0;
}

.u-section-3 .u-image-10 {
  width: 325px;
  height: 341px;
  margin: 20px auto 0;
}

.u-section-3 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -58px 0 0 auto;
}

.u-section-3 .u-image-11 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-3 .u-text-11 {
  margin: -24px 67px 0 12px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 669px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 12px;
}

.u-section-3 .u-text-12 {
  font-size: 1.875rem;
  margin: 0 5px;
}

.u-section-3 .u-image-12 {
  width: 325px;
  height: 341px;
  margin: 33px auto 0;
}

.u-section-3 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -349px 0 0 auto;
}

.u-section-3 .u-image-13 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-3 .u-text-13 {
  margin: 257px 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 290px;
    width: 276px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -299px;
  }

  .u-section-3 .u-image-3 {
    width: 97px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 238px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 315px;
    margin-top: 45px;
    width: 300px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -75px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 545px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: 290px;
    margin-top: 25px;
    width: 276px;
  }

  .u-section-3 .u-rotation-parent-3 {
    margin-top: -325px;
  }

  .u-section-3 .u-image-7 {
    width: 97px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 228px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 582px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -33px;
    margin-right: 113px;
  }

  .u-section-3 .u-image-8 {
    height: 290px;
    width: 276px;
  }

  .u-section-3 .u-rotation-parent-4 {
    margin-top: -334px;
  }

  .u-section-3 .u-image-9 {
    width: 97px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 237px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 582px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-10 {
    height: 315px;
    width: 300px;
    margin-top: 22px;
  }

  .u-section-3 .u-rotation-parent-5 {
    margin-top: -83px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -3px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 582px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 98px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-12 {
    height: 290px;
    margin-top: 5px;
    width: 276px;
  }

  .u-section-3 .u-rotation-parent-6 {
    margin-top: -324px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-13 {
    width: 97px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 227px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-2 {
    height: 213px;
    width: 203px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -219px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 108px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-4 {
    height: 238px;
    margin-top: 11px;
    width: 227px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -92px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 213px;
    margin-top: 18px;
    width: 203px;
  }

  .u-section-3 .u-rotation-parent-3 {
    margin-top: -212px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 108px;
    margin-bottom: -10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 519px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
    margin-top: -104px;
    margin-right: 18px;
  }

  .u-section-3 .u-image-8 {
    height: 213px;
    width: 203px;
  }

  .u-section-3 .u-rotation-parent-4 {
    margin-top: -257px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 180px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 519px;
  }

  .u-section-3 .u-image-10 {
    height: 238px;
    width: 227px;
    margin-top: 87px;
  }

  .u-section-3 .u-rotation-parent-5 {
    margin-top: -58px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 519px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-3 .u-image-12 {
    height: 213px;
    margin-top: 33px;
    width: 203px;
  }

  .u-section-3 .u-rotation-parent-6 {
    margin-top: -221px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    height: 324px;
    width: 324px;
    margin-top: 23px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -383px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 279px;
    margin-right: 146px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: 105px;
  }

  .u-section-3 .u-image-4 {
    height: 324px;
    width: 324px;
    margin-top: 16px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -83px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 10px;
    margin-right: 126px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 588px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-right: 114px;
  }

  .u-section-3 .u-image-6 {
    height: 324px;
    width: 324px;
    margin-top: 19px;
  }

  .u-section-3 .u-rotation-parent-3 {
    margin-top: -353px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 256px;
    margin-right: 114px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 579px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -65px;
  }

  .u-section-3 .u-image-8 {
    height: 324px;
    width: 324px;
    margin-top: 30px;
  }

  .u-section-3 .u-rotation-parent-4 {
    margin-top: -335px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 239px;
    margin-right: 114px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 609px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-3 .u-image-10 {
    height: 324px;
    width: 324px;
    margin-top: 49px;
  }

  .u-section-3 .u-rotation-parent-5 {
    margin-top: -416px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 331px;
    margin-right: 105px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 551px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-12 {
    height: 324px;
    width: 324px;
    margin-top: 30px;
  }

  .u-section-3 .u-rotation-parent-6 {
    margin-top: -344px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 247px;
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 8px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    width: 320px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -372px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 275px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    height: 320px;
    width: 320px;
  }

  .u-section-3 .u-rotation-parent-2 {
    margin-top: -87px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 576px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-right: 50px;
  }

  .u-section-3 .u-image-6 {
    height: 320px;
    width: 320px;
    margin-top: 20px;
  }

  .u-section-3 .u-rotation-parent-3 {
    margin-top: -349px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 252px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 566px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    margin-top: -47px;
  }

  .u-section-3 .u-image-8 {
    height: 320px;
    width: 320px;
  }

  .u-section-3 .u-rotation-parent-4 {
    margin-top: -331px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 586px;
  }

  .u-section-3 .u-image-10 {
    height: 320px;
    width: 320px;
    margin-top: 46px;
  }

  .u-section-3 .u-rotation-parent-5 {
    margin-top: -87px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 603px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-12 {
    height: 320px;
    width: 320px;
  }

  .u-section-3 .u-rotation-parent-6 {
    margin-top: -340px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}