{% extends "_base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>№</td>
            <td>Автор</td>
            <td>Відгук</td>
            <td>Оцінка</td>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ review.owner }}</td>
            <td>{{ review.text }}</td>
            <td>{{ review.mark.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}